@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");

@layer components {
  .btnGood {
    @apply bg-primary-good font-content font-bold rounded-small py-3 px-2;
  }
  .btnDanger {
    @apply bg-primary-danger font-content font-bold rounded-small py-3 px-2;
  }
  .btnAttention {
    @apply bg-primary-attention font-content font-bold rounded-small drop-shadow-lg py-3 px-2;
  }
  .small {
    @apply rounded-rounder py-3 px-6;
  }
  .customBorder {
    @apply border border-primary-dark drop-shadow-custom hover:text-white hover:border-black hover:drop-shadow-none;
  }
  .toggle {
    @apply w-11 h-6 bg-primary-good border peer-focus:outline-none rounded-full flex justify-start items-center;
  }
  .toggleSpan {
    @apply w-3 h-3 py-3 px-3 ml-0 bg-primary-attention customBorder drop-shadow-none rounded-rounder;
<<<<<<< HEAD
  }
  .radio {
    @apply w-5 h-5 bg-white customBorder cursor-pointer rounded-full;
=======
>>>>>>> 4141fedc40d3ecc94b7dba715e890055efe486f9
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
