@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Rowdies:wght@300;400;700&display=swap");

@layer components {
  .btnGood {
    @apply bg-primary-good font-content font-bold rounded-small py-3 px-2;
  }
  .btnDanger {
    @apply bg-primary-danger font-content font-bold rounded-small py-3 px-2;
  }
  .btnAttention {
    @apply bg-primary-attention font-content font-bold rounded-small drop-shadow-lg py-3 px-2;
  }
  .small {
    @apply rounded-rounder py-3 px-6;
  }
  .customBorder {
    @apply border border-primary-dark drop-shadow-custom hover:text-white hover:border-black hover:drop-shadow-none;
  }
  .toggleGood {
    @apply w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-red-300 dark:peer-focus:ring-red-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-600;
  }
  .smallPic {
    @apply h-8 w-8;
  }
  .mediumPic {
    @apply h-16 w-16;
  }
  .largePic {
    @apply h-36 w-36;
  }
  .strokeGood {
    @apply stroke-primary-good;
  }
  .strokeAttention {
    @apply stroke-primary-attention;
  }
  .strokeDanger {
    @apply stroke-primary-danger;
  }
  .bgGood {
    @apply bg-primary-good;
  }
  .bgAttention {
    @apply bg-primary-attention;
  }
  .bgDanger {
    @apply bg-primary-danger;
  }
}

@layer base {
  body {
    @apply bg-main-bg;
  }
}
body {
  @apply font-content;
  @apply text-main-p;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3 {
  @apply font-titles;
}

h1 {
  @apply text-main-title;
}

h2,
h3 {
  @apply text-secondary-title;
}

h1,
h2 {
  font-weight: 700;
}

button {
  @apply font-button;
  @apply text-main-p;
}

.slick-arrow,
.slick-prev {
  display: none !important;
}

.slick-dots li {
  margin: 0 !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
  color: white !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: black !important;
}

.slick-list,
.slick-track,
.slick-slide div {
  height: 100%;
}

.slick-list {
  border-radius: 6px;
  @apply border-primary-dark drop-shadow-custom;
}
