@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");

@layer components {
  .btnGood {
    @apply bg-primary-good font-content font-bold rounded-small py-3 px-2;
  }
  .btnDanger {
    @apply bg-primary-danger font-content font-bold rounded-small py-3 px-2;
  }
  .btnAttention {
    @apply bg-primary-attention font-content font-bold rounded-small py-3 px-2;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
